*
!.gitignore
!projects/
!downloads/
!previews/
!exports/
!temp/
projects/*
!projects/.gitkeep
downloads/*
!downloads/.gitkeep
previews/*
!previews/.gitkeep
exports/*
!exports/.gitkeep
temp/*
!temp/.gitkeep

